.card {
  position: fixed; 
  padding: var(--space-med);
  background: var(--color-white);
  top: 15vh;
  width: 60vw;
  height: 70vh;
  z-index: 2;
  margin-left: calc(50% + 4.25rem);
  transform: translateX(-50%);
}

