.account {
  width: 10rem;
  height: 15rem;
  background: var(--color-white-pure);
  border: 1px solid var(--color-grey-med);
  border-radius: var(--br-med);
  margin: 0 var(--space-xs) var(--space-lrg) var(--space-xs);
  
  padding: var(--space-sml);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.account > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account__heading {
  text-align: center;
  font-weight: 300;
}

.account__total,
.account__avail {
  background: var(--color-grey-light);
  font-weight: 300;
  width: 100%;
  padding: .4rem 0;
  border-radius: var(--br-sml);
}

.account__balance {
  font-weight: 500;
  margin-top: .2rem;
}

.account__balance span {
  font-weight: 400;
}