.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--space-xs);
}

.heading__heading {
  font-size: var(--fs-med);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--color-grey-med);
}

.heading__month {
  font-weight: 500;
  font-size: var(--fs-sml);
  color: var(--color-orange-med)
}