.acct-set {
  width: 10rem;
  height: 15rem;
  background: var(--color-white-pure);
  border: 1px solid var(--color-grey-med);
  border-radius: var(--br-med);
  margin: 0 var(--space-xs) var(--space-lrg) var(--space-xs);
  
  padding: .5rem;

  display: flex;
  flex-direction: column;
}

.acct-set div {
  margin-bottom: .5rem;
}

.acct-set input,
.acct-set select {
  width: 100%;
}

.saved {
   align-self: center;
   border: 2px solid var(--color-grey-dark);
   padding: .2rem var(--space-xs);
   border-radius: var(--br-sml);
   background: var(--color-green-light);
   font-weight: 300;
}