.acct-set {
  width: 10rem;
  height: 15rem;
  background: var(--color-white-pure);
  border: 1px solid var(--color-grey-light);
  border-radius: var(--br-med);
  margin: 0 var(--space-xs) var(--space-lrg) var(--space-xs);
  
  padding: var(--space-xs);

  display: flex;
  flex-direction: column;
}

.acct-set div {
  margin-bottom: var(--space-xs);
}

.acct-set input {
  width: 100%;
}

.save {
  width: 1.2rem;
  background: none;
  border: none;
  align-self: flex-end;
  cursor: pointer;
}