.submit {
  align-self: center;
  width: 12rem;
  height: 2.2rem;
  background: var(--color-white-pure);
  color: var(--color-grey-dark);
  border: 2px solid var(--color-grey-dark);
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  transition: all .2s;
}

.submit:hover,
.submit:focus{
  cursor: pointer;
  color: var(--color-white-pure);
  background: var(--color-grey-dark);
  box-shadow: var(--bs-primary);
}